<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyBans</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bans.css') }}">
    <script src="{{url_for('static', filename='js/reconnecting-websocket.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/bans.js') }}"></script>
    <script>
    window.addEventListener('DOMContentLoaded', (event)=>{
        init("{{type}}", "{{draft_id}}", {{map_bans}}, {{civ_bans}}, {{insta_bans}});
        });
    </script>
</head>
<body>
<img class='banner' src="{{url_for('static', filename='onlybans2.png')}}"/>

<div id="mapList">
    <p class="instruction_text">Maps (click to add/remove ban):</p>
    {% for map_key, map_src in maps_list.items() %}
    <div class="icon_div">
        <div class="subicon_div">
            <img class="map_icon" id='{{map_key}}' src='{{url_for("static", filename=map_src)}}'>
            <img class="ban_host_overlay" src='{{url_for("static", filename="ban_host.png")}}'>
            <img class="ban_guest_overlay" src='{{url_for("static", filename="ban_guest.png")}}'>
        </div>
        <p class="label_text">{{map_key}}</p>
    </div>
    {% endfor %}
</div>
<div id="civList">
    <p class="instruction_text">Civs (click to add/remove ban):</p>
    {% for civ_key, civ_src in civs_list.items() %}
    <div class="icon_div">
        <div class="subicon_div">
            <img class="civ_icon" id='{{civ_key}}' src='{{url_for("static", filename=civ_src)}}'>
            <img class="ban_host_overlay" src='{{url_for("static", filename="ban_host.png")}}'>
            <img class="ban_guest_overlay" src='{{url_for("static", filename="ban_guest.png")}}'>
        </div>
        <p class="label_text">{{civ_key}}</p>
    </div>
    {% endfor %}
</div>
<div>
    <div id="hostBans">
        <h2><span class="host_name">Host</span> bans</h2>
        <div id="hostMapBans">
            {% for i in range(map_bans) %}
            <div class="icon_div">
                <div class="subicon_div">
                    <img class="map_icon" id="host_map_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
                </div>
                <p class="label_text">???</p>
            </div>
            {% endfor %}
        </div>
        <div id="hostCivBans">
            {% for i in range(civ_bans) %}
            <div class="icon_div">
                <div class="subicon_div">
                    <img class="civ_icon" id="host_civ_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
                </div>
                <p class="label_text">???</p>
            </div>
            {% endfor %}
        </div>
        <button class="ready_btn">Bans Ready</button>
    </div>
    <div id="guestBans">
        <h2><span class="guest_name">Guest</span> bans</h2>
        <div id="guestMapBans">
            {% for i in range(map_bans) %}
            <div class="icon_div">
                <div class="subicon_div">
                    <img class="map_icon" id="guest_map_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
                </div>
                <p class="label_text">???</p>
            </div>
            {% endfor %}
        </div>
        <div id="guestCivBans">
            {% for i in range(civ_bans) %}
            <div class="icon_div">
                <div class="subicon_div">
                    <img class="civ_icon" id="guest_civ_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
                </div>
                <p class="label_text">???</p>
            </div>
            {% endfor %}
        </div>
        <button class="ready_btn">Bans Ready</button>
    </div>
</div>
<div>
    <div id="no_round" class="round_selection">
        <button id="start_r0_btn" class="ready_btn">Start Round 1</button>
    </div>
    {% for r in range(rounds) %}
    <div id="round_{{r}}" class="round_selection">
        <h2>(<span class="host_name">Host</span>) Round {{r+1}} (<span class="guest_name">Guest</span>)</h2>
        <p class="instruction_text" id="message_r{{r}}"></p>
        <div id="host_civ_r{{r}}" class="host_civ_selection">
        </div>
        <div id="map_r{{r}}" class="map_selection">
        </div>
        <div id="guest_civ_r{{r}}" class="guest_civ_selection">
        </div>
        <div>
            <button id="ban_host_r{{r}}_btn" class="ready_btn">Insta-ban ...</button>
            <button id="ready_r{{r}}_btn" class="ready_btn">No insta-ban</button>
            <button id="ban_guest_r{{r}}_btn" class="ready_btn">Insta-ban ...</button>
        </div>
        {% if r+1 < rounds %}
        <div>
            <button id="start_r{{r+1}}_btn" class="ready_btn">Click here to continue after playing game {{r+1}}</button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div id="messageBoard">
    {% if type == 'host' %}
    <h3 class="instruction_text"><input id="name_textbox" type="text" value="Host"><button onclick="submit_name_update()">Change name</button></h3>
    <p class="instruction_text">Share this code to join or watch the draft: <b>{{draft_id}}</b></p>
    {% endif %}
    {% if type == 'join' %}
    <h3 class="instruction_text"><input id="name_textbox" type="text" value="Guest"><button onclick="submit_name_update()">Change name</button></h3>
    {% endif %}
    <p class="instruction_text" id="messageText"></p>
    <p class="instruction_text" id="mapBansText"></p>
    <p class="instruction_text" id="civBansText"></p>
    <p class="instruction_text" id="instaBansText"></p>
    <button id="next_action_btn">Next action</button>
    <button id="ff_actions_button">Fast forward all actions</button>
</div>
<div class="footer">
<p>
    Age of Empires II © Microsoft Corporation. This utility was created under <a href="https://www.xbox.com/en-us/developers/rules">Microsoft's "Game Content Usage Rules"</a> using assets from Age of Empires II, and it is not endorsed by or affiliated with Microsoft.
</p>
</div>
</body>
</html>
