@font-face {
  font-family: "BankGothic";
  src: url(/static/fonts/BankGothic/BankGothicRegular.ttf) format("truetype");
}

.banner {
    width: 200pt;
}
body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: "BankGothic";
}

a:link {
    color: lightblue;
}

a:visited {
    color: lightpink;
}
