<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyBans</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bans.css') }}">
    <script src="{{url_for('static', filename='js/bans.js') }}"></script>
    <script>
    window.addEventListener('DOMContentLoaded', (event)=>{
        init("{{type}}", "{{draft_id}}", {{map_bans}}, {{civ_bans}}, {{insta_bans}});
        });
    </script>
</head>
<body>
<h1>OnlyBans</h1>
<div>
    {% if type == 'host' %}
    <p>Share this code to join or watch the draft: <b>{{draft_id}}</b></p>
    {% endif %}
</div>

<div id="mapList">
    <p>Maps (click to add/remove ban):</p>
    {% for map_key, map_src in maps_list.items() %}
    <img class="map_icon" id='{{map_key}}' src='{{url_for("static", filename=map_src)}}'>
    {% endfor %}
</div>
<div id="civList">
    <p>Civs (click to add/remove ban):</p>
    {% for civ_key, civ_src in civs_list.items() %}
    <img class="civ_icon" id='{{civ_key}}' src='{{url_for("static", filename=civ_src)}}'>
    {% endfor %}
</div>
<div>
    <div id="hostBans">
        <h2>Host bans</h2>
        <div id="hostMapBans">
            {% for i in range(map_bans) %}
            <img class="map_icon" id="host_map_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
            {% endfor %}
        </div>
        <div id="hostCivBans">
            {% for i in range(civ_bans) %}
            <img class="civ_icon" id="host_civ_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
            {% endfor %}
        </div>
        <button class="ready_btn">Bans Ready</button>
    </div>
    <div id="guestBans">
        <h2>Guest bans</h2>
        <div id="guestMapBans">
            {% for i in range(map_bans) %}
            <img class="map_icon" id="guest_map_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
            {% endfor %}
        </div>
        <div id="guestCivBans">
            {% for i in range(civ_bans) %}
            <img class="civ_icon" id="guest_civ_ban_{{i}}" src="{{url_for('static', filename='icon_placeholder.png')}}">
            {% endfor %}
        </div>
        <button class="ready_btn">Bans Ready</button>
    </div>
</div>
<div>
    {% for r in range(rounds) %}
    <div id="round_{{r}}" class="round_selection">
        <h2>Round {{r+1}}</h2>
        <p id="message_r{{r}}">click civ to instaban</p>
        <div id="host_civ_r{{r}}" class="host_civ_selection">
        </div>
        <div id="map_r{{r}}" class="map_selection">
        </div>
        <div id="guest_civ_r{{r}}" class="guest_civ_selection">
        </div>
        <div>
            <button class="ready_btn">Ready</button>
            <button class="ready_btn">Next round</button>
        </div>
    </div>
    {% endfor %}
</div>

<div id="messageBoard">
    <p id="messageText"></p> <p id="mapBansText"></p>
    <p id="civBansText"></p>
    <p id="instaBansText"></p>

    <p>
        Age of Empires II © Microsoft Corporation. This utility was created under <a href="https://www.xbox.com/en-us/developers/rules">Microsoft's "Game Content Usage Rules"</a> using assets from Age of Empires II, and it is not endorsed by or affiliated with Microsoft.
    </p>
</div>

</body>
</html>
